<html>
<head>
    <title>Новая заявка</title>
</head>
<body>
<h1>Новая заявка!</h1>
Информация о пользователе:
<ul>
    <li>Имя: {{ name }}</li>
    <li>Email: {{ email }}</li>
    <li>Телефон: {{ phone }}</li>
    <li>Сообщение: <p>{{ message }}</p>
    </li>
</ul>
</body>
</html>